html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Disable pinch zooming */
    touch-action: pan-x pan-y;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

/* .leaflet-control-zoom a:link,
.leaflet-control-zoom a:visited {
    color: black;
} */

.leaflet-popup-content {
    text-align: center;
    word-wrap: break-word;
    font-size: 15px;
    color: black;
    overflow: hidden;
    max-height: 300px;
}

* {
    /* Remove blue highlight of button on mobile */
    -webkit-tap-highlight-color: transparent;
}

#buttonZoomIn,
#buttonZoomOut,
#buttonZoomToMarkers,
#buttonZoomToMyMarker,
#formInput,
#formButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    /* border: none; */
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center !important;
    line-height: 0 !important;
    /* same shadow as popup */
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
    color: black;
}

#buttonZoomIn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    z-index: 400;
    font-size: 20px;
    text-align: center !important;
    line-height: 0 !important;
}

#buttonZoomOut {
    position: absolute;
    top: 60px;
    left: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    z-index: 400;
    font-size: 20px;
    text-align: center !important;
    line-height: 0 !important;
}

#buttonZoomToMarkers {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    height: 40px;
    z-index: 400;
}

.buttonZoomToMarkers.bg-animation {
    animation: blink 500ms 1;
}

@keyframes blink {
    0% {
        background-color: white;
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: white;
    }
}

#buttonZoomToMyMarker {
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    height: 40px;
    z-index: 400;
}

#formDiv {
    position: absolute;
    bottom: 10px;
    z-index: 400;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    /* background-color: blue; */
}

#formInput {
    position: relative;
    width: 50%;
    height: 40px;
    margin: 0;
    z-index: 400;
    text-align: left !important;
    /* Fix placeholder text vertical align on iOS Safari */
    line-height: 40px !important;
}

#formButton {
    position: relative;
    height: 40px;
    margin-left: 10px;
    padding: 10px;
    z-index: 400;
}

input[type=text] {
    width: 100%;
    padding: 0px 10px !important;
    /* margin: 8px 0; */
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

#startInfo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 400;
    /* width: 60%; */
    width: 100%;
    /* height: 75%; */
    display: block;
    overflow: auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    /* border-style: solid; */
    /* border-color: red; */
    /* border-width: 10px; */
    /* border-radius: 12px; */
    /* padding: 10px; */
}

#startInfoInner {
    padding: 20px;
}

#startInfoButton {
    height: 40px;
    width: 60px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    border: none;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center !important;
    line-height: 0 !important;
    padding: 0;
}